{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html>

<head>
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet">
    {% progressive_web_app_meta %}
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-messaging.js"></script>

    <script>
        // Your web app's Firebase configuration
    </script>

    <script src="{% static 'js/messaging.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Ejemplo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAccesos"
                aria-controls="navbarAccesos" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarAccesos">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog:index' %}">index</a></li>
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'gestion_usuarios:login' %}">iniciar
                            sesión</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'gestion_usuarios:registrar' %}">registrar</a>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'blog:crear' %}">crear post</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'gestion_usuarios:logout' %}">logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>